<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Resting Hour Report</title>
<style type="text/css">


@font-face {
	font-family: 'Carrois Gothic';
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

.value {
	background-color: #F0F0F0;
}

.filled {
	background-color: gray;
}

.mediumFont {
	font-size: 11pt;
}
</style>
</head>
<body style="font-family: Carrois Gothic;">
	<div>

		<p
			style='margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal; text-autospace: none'>
			END-USER LICENSE AGREEMENT FOR SHIP IP LTD - Rest Hours Validator V.8.<br />
			LICENSE, IMPORTANT-READ CAREFULLY: <br /> <br /> This End-User
			License Agreement (&quot;<span>EULA</span>&quot;) is a legal
			agreement between you (either an individual or a single entity) and
			SHIP IP LTD  for the software product identified above, which
			includes computer software and may include associated media, printed
			materials, and &quot;online&quot; or electronic documentation
			(&quot;SOFTWARE PRODUCT&quot;). By installing, copying, or otherwise
			using the SOFTWARE PRODUCT, you agree to be bound by the terms of
			this <span>EULA</span>. If you do not agree to the terms of this <span>EULA</span>,
			do not install or use the SOFTWARE PRODUCT and return the SOFTWARE
			PRODUCT to SHIP IP LTD.<br /> <br /> COPYRIGHT. All title and
			copyrights in and to the SOFTWARE PRODUCT (including but not limited
			to any compiled computer code libraries, images, photographs,
			animations, video, audio, music, text, and &quot;applets&quot;
			incorporated into the SOFTWARE PRODUCT), and any copies of the
			SOFTWARE PRODUCT are owned by SHIP IP LTD ,a company incorporated in
			the BULGARIA  with company number <span
				style='font-size: 9.0pt; font-family: "Segoe UI", "sans-serif"; color: black'>BG
				202572176.</span>
		</p>

		<p>
			&nbsp; The SOFTWARE PRODUCT is protected by copyright laws and
			international copyright treaties, as well as other intellectual
			property laws and treaties. <br /> <br /> SUBSCRIPTION. The SOFTWARE
			PRODUCT is supplied to you on the basis of a term subscription period
			(&quot;SUBSCRIPTION PERIOD&quot;). The SOFTWARE PRODUCT may only be
			used during a valid SUBSCRIPTION PERIOD that you have purchased. This
			SUBSCRIPTION PERIOD is activated via a code obtained from SHIP IP LTD
			by sending the installation Serial Number to <a
				href="mailto:sales@shipip.com">sales@shipip.com</a> . Use of the
			SOFTWARE PRODUCT outside of a SUBSCRIPTION PERIOD is not permitted.
			During the SUBSCRIPTION PERIOD you are entitled to request support
			via email. Support requests must be directed to <a
				href="mailto:support@shipip.com">support@shipip.com</a> . During the
			SUBSCRIPTION PERIOD you are also entitled to version updates of the
			SOFTWARE PRODUCT. All version updates are available by download only,
			from our website.
		</p>

		<p>
			<br /> LICENCE AND USE. On installation, you are granted a
			non-exclusive, non-transferable licence for the SOFTWARE PRODUCT for
			the duration of the SUBSCRIPTION period. You may install and use the
			SOFTWARE PRODUCT on a single computer only. <br /> <br /> YOUR
			UNDERTAKINGS.&nbsp; You undertake that you will not reproduce, relay,
			disseminate, publish, sell, let, lend or otherwise part with
			possession of the SOFTWARE PRODUCT, other than for normal operation
			on a single computer; and not translate, adapt, vary, or modify the
			SOFTWARE PRODUCT (or allow the same).<br /> <br /> DATA. Using the
			SOFTWARE PRODUCT will require you to input operational data including
			names of persons and their particulars, their hours of work or rest
			and other operational information relevant to you or your employer,
			and to store this data within the SOFTWARE PRODUCT database .<br /> <br />
			ACCESS TO DATA. Access to DATA is only available during a valid
			SUBSCRIPTION PERIOD. DATA cannot be accessed outside of an activated
			valid SUBSCRIPTION PERIOD. If DATA is required outside of a valid
			SUBSCRIPTION PERIOD, DATA must be exported or copied from the
			SOFTWARE PRODUCT prior to the expiry of the SUBSCRIPTION PERIOD or
			you must purchase a new license key and SUBSCRIPTION PERIOD. <br /> <br />
			DATA OWNERSHIP. You retain full ownership of DATA subject to the
			terms of the ACCESS TO DATA provision. You may choose to provide SHIP
			IP LTD with a copy of DATA for the purposes of providing support or
			for reporting to third parties. DATA is never automatically uploaded
			to SHIP IP LTD and requires you to voluntarily and manually upload
			DATA. If you choose to provide SHIP IP LTD with a copy of DATA you
			grant a non-exclusive transferrable license to the SHIP IP LTD  to
			the DATA for the purpose of support or reporting of DATA to third
			parties. In this instance copies of DATA would be stored SHIP IP LTD
			servers. Methods of transferring DATA to SHIP IP LTD would include
			but not be limited to delivery via email or emailed attached file. <br />
			<br /> NO WARRANTY.&nbsp; THE SOFTWARE PRODUCT IS PROVIDED &quot;AS
			IS&quot; WITHOUT ANY WARRANTY OF ANY KIND EITHER EXPRESS OR IMPLIED
			INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
			MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND
			NON-INFRINGEMENT.&nbsp; SHIP IP LTD  DOES NOT WARRANT THAT THE
			SOFTWARE PRODUCT WILL BE ERROR FREE OR THAT SUCH ERRORS WILL BE
			CORRECTED AND YOU ARE SOLELY RESPONSIBLE FOR ALL COSTS AND EXPENSES
			ASSOCIATED WITH RECTIFICATION, REPAIR OR DAMAGE CAUSED BY SUCH
			ERRORS.&nbsp; SHIP IP LTD DOES NOT WARRANT THAT THE SOFTWARE PRODUCT
			IS FREE FROM ALL VIRUSES AND EXCLUDES ALL LIABILITY FOR ANY VIRUSES
			AFFECTING THE SOFTWARE PRODUCT.&nbsp; SHIP IP LTD SHALL NOT BE LIABLE
			TO YOU OR TO ANY OTHER PARTY FOR ANY LOSS OR DAMAGE WHATSOEVER OR
			HOWSOEVER CAUSED ARISING DIRECTLY OR INDIRECTLY IN CONNECTION WITH
			THIS <span>EULA</span>, EXCEPT TO THE EXTENT THAT SUCH LIABILITY
			MAY NOT BE LAWFULLY EXCLUDED UNDER LAW.&nbsp; WITHOUT LIMITING THE
			GENERALITY OF THE ABOVE, SHIP IP LTD EXPRESSLY EXCLUDES LIABILITY FOR
			INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL LOSS OR DAMAGE WHICH
			MAY ARISE IN RESPECT OF THE SOFTWARE PRODUCT INCLUDING, WITHOUT
			LIMITATION, LOSS OF PROFIT, BUSINESS REVENUE, GOODWILL OR ANTICIPATED
			SAVINGS. <br /> <br /> TERMINATION. You may terminate this <span>EULA</span>
			immediately on written notice to SHIP IP LTD.&nbsp; Without prejudice
			to any other rights at law, SHIP IP LTD  may terminate this <span>EULA</span>
			if you fail to comply with the terms and conditions of this <span>EULA</span>.&nbsp;
			In either event, you must destroy all copies of the SOFTWARE PRODUCT
			and all of its component parts, and you must de-install the SOFTWARE
			PRODUCT from all computers where it has been installed.<br /> <br />
			The parties agree that SHIP IP LTD (which was involved in the
			development of and owns the SOFTWARE PRODUCT) may enforce the terms
			of the NO WARRANTY provision, in accordance with the provisions of
			the Act.&nbsp; No other third party has a right under the Act to
			enforce any term of this <span>EULA</span>.&nbsp; This does not
			affect any third party's right or remedy which exists or is available
			apart from the Act.<br /> <br /> GENERAL.&nbsp; If any provision of
			this <span>EULA</span> is determined by any competent authority to
			be invalid, unlawful or unenforceable to any extent, such provision
			will to that extent be severed from the remaining provisions, which
			will continue to be valid to the fullest extent permitted by
			law.&nbsp; This <span>EULA</span> is the entire agreement between
			you and SHIP IP LTD regarding the license of the SOFTWARE PRODUCT and
			supersedes all prior agreements, arrangements and understandings
			between you and SHIP IP LTD regarding the license of the SOFTWARE PRODUCT to
			you.&nbsp;
		</p>

	</div>

</body>

</html>
